.Button {
    background: #333;
    width: 90px;
    height: 89px;
    border-radius: 50%;
    display: flex;
    font-size: 45px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Button.zero {
    width: 250px;
    grid-column: 1/ span 2;
    border-radius: 57.5px;
    position: relative;
    justify-content: flex-start;
    padding-left: 43px;
}

.Button.function {
    color: black;
    background: #a5a5a5;
}

.Button.operator {
    background: #f1a33c;
}

.Button.opm{
    background: rgb(66, 66, 159);
}






















































/* CODER INST: @GODZI.BI 
ASTRUM ACADEMY CODER*/