* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-card {
  padding: 30px;
  border-radius: 20px;
  background: rgb(12, 20, 59);
  border-radius: 50px;
}
form input {
  border: none;
  outline: 0;
  width: 100px;
  height: 80px;
  font-size: 26px;
  background-color: rgb(9, 4, 26);
  margin: 8px;
  border-radius: 10px;
  color: aliceblue;
  font-weight: bolder;
  cursor: pointer;
}
form input[type="button"]:hover {
  background-color: rgb(61, 95, 125);
}

form .display {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0px 15px 0px;
}
form .display input {
  text-align: right;
  flex: 1;
  font-size: 60px;
  padding: 20px 10px;
}

.equals {
  width: 215px;
  background-color: #ff9800;
  color: #fff;
}
