body{
  background-image: url(https://i.makeagif.com/media/5-17-2018/f6ZEPU.gif);
  background-repeat: no-repeat;
  background-size: cover;
  }
  .all {
      display: flex;
      justify-content: center;
      text-align: center;
      background-color: rgb(109, 109, 253);
     width: 500px;
     margin-left: 500px;
  
  }
  .all .ramka{
      height: 630px;
      width: 500px;
      border: 1px solid rgb(0, 255, 106);
      box-shadow: 0px 0px 10px white;
  }
  .all .ramka .input{
      border: 1px solid white;
      height: 60px;
      width: 320px;
      text-align: center;
      margin-top: 20px;
      box-shadow: 0px 0px 10px white;
      color: red;
      font-size: 30px;
      
      background-color: rgba(206, 242, 206, 0.646);
      margin-left: 85px;
  }
  .sonlar button {
     padding: 30px 40px;
     border: none;
     margin: 10px;
     margin-top: 20px;
     color: rgb(255, 255, 255);
     font-weight: bold;
     background-color: black;
     box-shadow: 0px 0px 10px white;
     border-radius: 2px;
     font-size: 30px;
  }
  .sonlar button:hover{
      transition: all 0.1s ease-in-out;
      background-color: red;
      transform: scale(1.1);
  }
  .sonlar button:active{
      transform: scale(0.9);
  }
  .sonlar .argument{
      background-color: rgb(245, 184, 70);
  }
  .sonlar .argument_ikki{
      background-color: rgb(245, 184, 70);
  }
  .sonlar .argument_uch{
      background-color: rgb(245, 184, 70);
  }
  .sonlar .argument_tort{
      background-color: rgb(245, 184, 70);
  }
  
  @media screen and (max-width: 768px) {
      .all{
          margin-left: 60px;
          margin-top: 20px;
      }
  }
  